.player-shape-1 {
    width: 0px;
    height: 0px;
    border-top: 25px solid transparent;
    border-right: 25px ridge #AC2C23;
    border-left: 25px groove #AC2C23;
    border-bottom: 25px ridge #AC2C23;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
}
.player-shape-2 {
    display: block;
    box-sizing: border-box;
    width: 50px;
    height: 71.5px;
    background-color: red;
    border-left: 8px ridge #AC2C23;
    border-right: 8px groove #AC2C23;
    border-bottom: 8px groove #AC2C23;
    border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
}